* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

.main {
    background-color: #433d60;
    width: 100%;
}

.nav-link {
    font-weight: 700;
}

.navbar-toggler {
    filter: invert(36%) sepia(25%) saturate(512%) hue-rotate(210deg) brightness(95%) contrast(90%);
}

.header-button1 {
    width: 154px;
    height: 48px;
    background-color: #433d60;
    border: 2px solid #fff;
    border-radius: 40px;
    color: #fff;
    font-weight: 700;
}

.header-button2 {
    width: 154px;
    height: 48px;
    border-radius: 40px;
    border: none;
    background-color: #c0b7e8;
    color: #343045;
    font-weight: 700;
}

.hero-top-left-title {
    font-size: 46px;
    font-weight: 700;
    color: #fff;
}

.hero-title-span {
    color: #8176AF;
}

.hero-top-left-text {
    color: #fff;
}

.hero-button1 {
    width: 214px;
    height: 48px;
    background-color: #c0b7e8;
    border-radius: 40px;
    border: none;
}

.hero-arrow {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.hero-bottom-inner {
    border-radius: 90px;
    background-color: #211e2e;
    opacity: 70%;
    height: 167px;
    justify-content: space-evenly;
}

.location-top-text,
.call-top-text,
.email-top-text {
    color: #fff;
    font-weight: 700;
}

.location-bottom-text,
.call-bottom-text,
.email-bottom-text {
    color: #fff;
    font-weight: 400;
}

/* .hero-bottom-line {
    height: 116px;
    width: 20px;
    color: #fff;
} */

/* .hero-line{
    height: 70px;
    
} */

.hero-bottom-inner {
    margin-top: 103px;
    /* width: 1272px; */
}